/* Placeholder. Probar si funciona sin esto luego. */
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../fondodb.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}